
.scrollup {
   width: 40px;
   height: 80px;
   position: fixed;
   right: 40px;
   bottom: 15%;
   background: rgba(212, 212, 212, 0.4);
   background-size: 23px;
   z-index: 99;
   display: none;
   transition: 0.3s;

  &__arrow {
    position: absolute;
    padding-top: 10px;
    }


  &:hover,
  &:active,
  &:active:hover,
  &:visited {
    background: rgba(160, 160, 160, 0.4);
    transition: all 0.3s ease-in-out;

    polyline {
      stroke: #fff;

    }
  }

  &__link {
     text-transform: uppercase;
     text-align: center;
     text-decoration: none;
     color: #000;
     width: 80px;
     height: 40px;
     padding: 10px 40px 10px 10px;
     position: absolute;
     bottom: 20px;
     right: -20px;
     transform: rotate(-90deg);

    &:hover
     {
       text-decoration: none;
       color: #fff;
     }
   }
 }


.loader_box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #000;
  opacity: 0.6;
}

.loader {
  height: 60px;
  width: 60px;
  margin: -30px auto 0;
  right: 0;
  left: 0;
  top: 50%;
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #52fc55;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;

}
.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
  }

}



.logo-mixin {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 30px;
  left: 15%;
}


.menu-mixin {
  .mobile {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    margin-left: -5%;

    .mobile_menu {
      display: none;
      height: 100vh;
      background: rgba(255, 255, 255, 0.93);
    }

    .mobile__list {
      padding: 20px 0;

    }

    .list__item {
      list-style: none;
      padding: 0 25px;
      display: block;
    }

    .list__link {
      text-align: center;
      padding: 55px 0;
      border-bottom: 1px solid #ddd;
      text-decoration: none;
      color: #676767;
      font-size: 1.5em;

      &:hover, :active, :focus {
        background: #e7e7e7;

        .list__link:before {
          margin-left: -50%;
          width: 30%;
        }
      }

    }

    button {
      position: absolute;
      top: 10px;
      right: 20px;
      border: 0;
      text-indent: 200%;
      overflow: hidden;
      background: none;
      border-radius: 3px;
      background-size: 80%;
      width: 50px;
      height: 50px;
      outline: none;
      transition: all 400ms ease;
      z-index: 99;

      .icon {
        transition-duration: 0.5s;
        position: absolute;
        height: 4px;
        width: 30px;
        top: 23px;
        background-color: #212121;
        border-radius: 4px;
        left: 10px;

        &:before {
          transition-duration: 0.5s;
          position: absolute;
          width: 30px;
          height: 4px;
          background-color: #212121;
          content: "";
          top: -10px;
          left: 0;
          border-radius: 4px;
        }

        &:after {
          transition-duration: 0.5s;
          position: absolute;
          width: 30px;
          height: 4px;
          background-color: #212121;
          content: "";
          top: 10px;
          left: 0;
          border-radius: 4px;
        }
      }
    }
    .mobile_menu.expanded {
      opacity: 1;

    }
    button.expanded {
      transform: rotate(90deg);
      border: 0;

      .icon {
        transition-duration: 0.5s;
        background: transparent;

        &:before {
          transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
        }

        &:after {
          transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
        }
      }
    }

  .list__link {
      display: block;
    }
  }

  .menu {
    display: block;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    .mobile {
      display: block;
      &__list {
        .list__item:hover,
        .list__item:active {
          .list__link:before {
            margin-left: -10%;
            width: 20%;
          }
        }
      }
    }
    .menu {
      display: none;
    }
  }


  .list {
    margin: 0 auto;
    position: relative;
    padding: 0;
    top: 20px;
    right: 55px;

    &__item {
      list-style: none;
      margin: 0 auto;
      padding: 25px;
      display: inline-block;
      position: relative;
    }
    &__link {
      color: #676767;
      text-decoration: none;
      font-sisze: 1.5em;
      display: block;
    }

    &__link:before {
      background-color: #52fc55;
      top: 50%;
      content: "";
      height: 0.1em;
      left: 50%;
      margin-left: 0;
      position: absolute;
      transition-duration: 0.2s;
      width: 0;


    }

    &__item:hover,
    &__item:active {
      .list__link:before {
        margin-left: -50%;
        width: 100%;
      }
    }

    .active {
      .list__link:before {
        margin-left: -50%;
        width: 100%;
      }
    }
  }
}

.menuanim-mixin {
  .animation.menu__list, .logo, .logo_rect, .logo_line{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation: fadeInDownBig 1s ease forwards;
    animation-delay: 0.4s;
  }
  @-webkit-keyframes fadeInDownBig {
    from {
      opacity: 1;
      -webkit-transform: translate3d(0, -200px, 0);
      transform: translate3d(0, -200px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDownBig {
    from {
      opacity: 1;
      -webkit-transform: translate3d(0, -200px, 0);
      transform: translate3d(0, -200px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}


.outlineimg-mixin {
  .outline {
    display: inline-block;
    position: absolute;
    transition-delay: 900ms;
    background-color: #52fc55;
    animation-delay: 3s;
    &--black {
      display: inline-block;
      position: absolute;
      transition-delay: 900ms;
      animation-delay: 3s;
      background-color: #000;
    }
  }
  .outline-green {
    top: 0;
    right: 0;
    height: 5px;
  }
  .outline_top {
    top: 0;
    right: 0;
    height: 1px;

  &--black {
    top: 0;
    left: 0;
    height: 1px;
  }
  }


  .outline_right {
    bottom: 0;
    right: 0;
    width: 1px;

  &--black {
    top: 0;
    right: 0;
    width: 1px;
  }
  }
  .outline_bottom {
    right: 0;
    bottom: 0;
    height: 1px;

  &--black {
    left: 0;
    bottom: 0;
    height: 1px;
  }
  }
  .outline_left {
    bottom: 0;
    left: 0;
    width: 1px;

  &--black {
    top: 0;
    left: 0;
    width: 1px;
  }
  }

  .animation {
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  .animation.outline_green {
    animation: setWidth 0.5s ease forwards;
    animation-delay: 0.5s;
  }

  .animation.outline_top {
    animation: setWidth 0.5s ease forwards;
    animation-delay: 0.5s;
  }
  .animation.outline_top--black {
    animation: setWidth 0.5s ease forwards;
    animation-delay: 0.5s;
  }

  .animation.outline_right{
    animation: setHeight 0.5s ease forwards;
  }
  .animation.outline_right--black {
    animation: setHeight 0.5s ease forwards;
    animation-delay: 1s;
  }

  .animation.outline_left {
    animation: setHeight 0.5s ease forwards;
    animation-delay: 0.5s;
  }
  .animation.outline_left--black {
    animation: setHeight 0.5s ease forwards;
    animation-delay: 0.5s;
  }

  .animation.outline_bottom {
    animation: setWidth 0.5s ease forwards;
  }
  .animation.outline_bottom--black {
    animation: setWidth 0.5s ease forwards;
    animation-delay: 1s;
  }

  @keyframes setWidth {
    from {
      width: 0;
      margin-left: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes setHeight {
    from {
      height: 0;
      margin-top: 0;
    }
    to {
      height: 100%;
    }
  }
}


.outline-mixin {
  .outline {
    display: inline-block;
    position: absolute;
    transition-delay: 900ms;
    background-color: #52fc55;
    animation-delay: 3s;
  }
  .outline_top {
    top: 0;
    left: 0;
    height: 2px;
  }

  .outline_right {
    top: 0;
    right: 0;
    width: 2px;
  }
  .outline_bottom {
    left: 0;
    bottom: 0;
    height: 2px;
  }
  .outline_left {
    top: 0;
    left: 0;
    width: 2px;
  }

  .animation {
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  .animation.outline_top {
    animation: setWidth 0.5s ease forwards;

  }

  .animation.outline_right{
    animation: setHeight 0.5s ease forwards;
    animation-delay: 0.5s;
  }

  .animation.outline_left {
    animation: setHeight 0.5s ease forwards;

  }

  .animation.outline_bottom {
    animation: setWidth 0.5s ease forwards;
    animation-delay: 0.5s;
  }

  @keyframes setWidth {
    from {
      width: 0;
      margin-left: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes setHeight {
    from {
      height: 0;
      margin-top: 0;
    }
    to {
      height: 100%;
    }
  }
}



@keyframes setWidth {
  from {
    width: 0;
    margin-left: 0;
  }
  to {
    width: 100%;
  }
}



.animation {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animimg-mixin {
  .animation.image {
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 1s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}


.animtext-mixin {
  .animation.text {
    animation: fadeInUp 1s ease forwards;
    
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }
}



.active {
  .list__link:before {
    margin-left: -50%;
    width: 100%;
  }
}


.main_text-mixin {

  .typewriter {
    z-index: 99;
    & > span {
      display: inline-block;
    }
    &.animate > span > i {
      animation: typewriter 150ms forwards, background 500ms forwards;
    }

    & > span > i {
      opacity: 0;
      color: #111;
      font-style: normal;
      font-size: 1em;
      min-width: .4em;
      border-radius: 2px;
      @delay-unit: 50ms;
      @column-count: 30; // ���������� �������

      .generate-column(@i: 1) when (@i =< @column-count) {
        &:nth-child(@{i}) {
          animation-delay: @i * (@delay-unit);
        }

        .generate-column(@i + 1);
      }

      .generate-column();

  }



  @keyframes typewriter {
    50% {
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes background {
    0% {
      background: rgba(17, 17, 17, 0.1);
    }
  }
}

}

.imgdiv-mixin {
  width: 310px;
  height: 310px;

    .imgdiv {
      height: 310px;
      width: 310px;
      overflow: hidden;
      background: none;
      border: 0;
      box-sizing: border-box;
      position: relative;


      &::before,
      &::after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .image {
        height: 100%;
        .animimg-mixin;
      }
    }

    .border {
      width: 310px;
      height: 310px;
      position: relative;
      left: -30px;
      top: -330px;
    }
  }

.view-mixin {
  width: 200px;
  margin-top: 40px;
  a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  a:after {
    display: block;
    content: "";
    height: 12px;
    margin-top: -8px;
    width: 0;
    background-color: #52fc55;
    transition: width .3s ease-in-out;
  }
}

.button-mixin {
  .showall {
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background: #F8F8F8;
    border: 0;
    box-sizing: border-box;
    color: #000;
    width: 200px;
    height: 40px;
    font-size: inherit;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    left: 50%;
    margin-left: -100px;

    .outline-mixin;
  }


  .showall:before,
  .showall:after,
  .showall b:before,
  .showall b:after {
    content: '';
    position: absolute;
    background: #616161;
    z-index: 99;
  }

  .showall:before,
  .showall:after {
    height: 0;
    width: 2px;
    transition: height 0.25s;
  }

  .showall:before {
    left: 0;
  }

  .showall:after {
    right: 0;
  }

  .showall :before,
  .showall :after {
    width: 0;
    height: 2px;
    transition: width 0.25s;

  }

  .showall b:before {
    top: 0;
    transition-delay: 0s;
  }

  .showall b:after {
    bottom: 0;
    transition-delay: 0.25s;
  }
  .showall:hover {
    background: #e9e9e9;
    transition: 0.5s
  }

  .showall:hover b {
    color: #585858;
    transition: 0.5s
  }

  .showall:hover:before,
  .showall:hover:after {
    height: 100%;
    transition-delay: 0s;
  }

  .showall:hover b:before,
  .showall:hover b:after {
    width: 100%;
  }

  .showall:before {
    top: 0;
    transition-delay: 0.25s;
  }

  .showall:after {
    top: 0;
    transition-delay: 0s;
  }

  .showall b:before {
    left: 0;
    transition-delay: 0.25s;
  }

  .showall b:after {
    left: 0;
    transition-delay: 0s;
  }

  .showall:hover:before {
    transition-delay: 0s;
  }

  .showall:hover:after {
    transition-delay: 0.25s;
  }

  .showall:hover b:before {
    transition-delay: 0s;
  }

  .showall:hover b:after {
    transition-delay: 0.25s;
  }

}




.footer_bg-mixin {
  margin-top: -300px;
  background: url("../images/img2.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  position: relative;
  .button-mixin;

  .gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.94) 13%, rgba(230,230,230,0.77) 51%, rgba(148,148,148,0.61) 90%, rgba(0,0,0,0.54) 100%);
    height: 100vh;
    background-size: cover;

    .text_footer {
      width: 100%;
      position: absolute;
      bottom: 40px;
      .text {
        text-align: center;
        color: #42454a;
        position: relative;
        margin: 0 auto -18px;
        z-index: 99;
      }

      .shaka {
        position: relative;
        width: 80%;
      }

      .shaka:before {
        background-color: #52fc55;
        left: 0;
        content: "";
        height: 13px;
        position: absolute;
        width: 0;
        transition-delay: 2s;
      }

      .animation.shaka:before {
        animation-duration: 2s;
        animation: setWidth 1s ease forwards;
        animation-delay: 0.4s;
        width: 50%;
      }



      .shaka_hend {
        width: 50px;
        height: 50px;
        left: 0;
      }
      .shaka_hend:before {
        background: url("../images/shaka.png") no-repeat;
        background-size: 50px;
        content: "";
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: -19px;
        opacity: 0;
      }
      .animation.shaka_hend:before {
        animation-duration: 2s;
        animation: fadeInLeftBig 1s ease forwards;
        animation-delay: 0.4s;
        left: 100%;
      }

      @keyframes fadeInLeftBig {
        from {
          opacity: 0;
          -webkit-transform: translate3d(-1000px, 0, 0);
          transform: translate3d(-1000px, 0, 0);
        }

        to {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
    }
  }
  }



@media screen and (max-width: 750px) {
  .logo {
    display: none
  }
  .container {
    margin: 0;
  }

  .text_footer {
    width: 100%;
    position: absolute;
    bottom: 40px;
    .text {
      text-align: center;
      color: #42454a;
    }
  }

.scrollup {
  right: 10px;
  bottom: 10%;
}

.footer_bg-mixin {

  .gradient {

    .text_footer {
      .text {
        line-height: 35px;
      }
      .shaka {
        position: relative;
        width: 83%;
      }
    }
  }

}

}

