.home_bg {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(44,34,0,1) 100%);
  background-size: 400% 400%;
  background-position:50% 0%;
  transition: background-position 1s ease;
}


.skills_bg {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, black 0%, black 87%, rgba(0, 0, 0, 0.7) 100%);
  background-size: 400% 400%;
  background-position:50% 0%;
  transition: background-position 1s ease;
}


.biography_bg {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0, 0, 0, .5) 100%);
  background-size: 400% 400%;
  background-position:50% 0%;
}


.works_bg {
  background: linear-gradient(0deg, black 0%, black 91%, rgba(0, 0, 0, 0.7) 100%);
  background-size: 400% 400%;
  background-position:50% 0%;
}


.contacts_bg {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0, 0, 0, .4) 100%);
  background-size: 400% 400%;
  background-position:50% 0%;
}


.in {
  animation: bgInTop 1s ease-out;
}
.out {
  animation: bgOutTop 3s ease-out;
}

.skills_bg_img {
  &.in {
    background: url("../img/code.jpg") no-repeat;
    background-size: cover;
    height: 50%;
  }
}

.contacts_bg_img {
  &.in {
    background: url("../img/contbg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.biography_bg_img {
  &.in {
    background: url("../img/plant.jpg") no-repeat;
    background-size: cover;
    height: 100%;
  }
}

.works_bg_img {
  &.in {
    background: url("../img/workweb.jpg") no-repeat;
    background-size: cover;
    background-position: 0 120%;
    height: 50%;
  }
}