.biography {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 30px auto;
  width: 80%;

  &__part {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__works {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 8px;
    width: 550px;
  }

  &__title_wrapper {
    width: 320px;

    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both;
    }
  }

  &__title {
    font-size: 2rem;
    color: $whiteText;

    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both;
    }
  }

  &__experience_wrapper{
    margin: 0 auto 20px;
  }

  &__year {
    font-size: 1.5rem;
    color: $whiteText;
  }

  &__organisation {
    font-size: 1.5rem;
    color: $whiteText;
  }

  &__position {
    margin: 15px;
    font-size: 1.3rem;
    color: $whiteText;
  }

  &__list {
    margin: 10px;
    color: $whiteText;
    list-style: circle;
  }

  &__item {
    margin-bottom: 15px;

    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both;
    }
  }

  &__item_responsibilities {
    margin: 8px;
    font-size: 1.1rem;
    color: $whiteText;
    line-height: 1.3rem;
  }

  &__name {
    font-size: 1.5rem;
    color: $whiteText;
  }

  &__speciality {
    font-size: 1.1rem;
    color: $whiteText;
    margin: 15px;
  }
}

@media (max-width: 992px) {
  .biography {
    margin-top: 20px;

    &__title_wrapper {
      width: 100%;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__year {
      font-size: 1.2rem;
    }

    &__organisation {
      font-size: 1.2rem;
    }

    &__position {
      margin: 10px;
      font-size: 1rem;
    }

    &__list {
      margin: 0;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__item_responsibilities {
      margin: 5px;
      font-size: 1rem;
      line-height: 1rem;
    }

    &__name {
      font-size: 1.5rem;
    }

    &__speciality {
      font-size: 1.1rem;
      margin: 15px;
    }
  }
}

@media (max-width: 768px) {
  .biography {
    width: 90%;
    margin-top: 20px;

    &__part {
      margin-bottom: 0;
    }

    &__title_wrapper {
      width: 100%;
    }

    &__title {
      font-size: 1.4rem;
    }

    &__year {
      font-size: 1.1rem;
    }

    &__organisation {
      font-size: 1.1rem;
    }

    &__position {
      margin: 10px;
      font-size: 1rem;
    }

    &__list {
      margin: 0;
    }

    &__item {
      margin-bottom: 10px;
    }

    &__item_responsibilities {
      margin: 5px;
      font-size: 1rem;
      line-height: 1rem;
    }

    &__name {
      font-size: 1.1rem;
    }

    &__speciality {
      font-size: 1.1rem;
      margin: 15px;
    }
  }
}
