@import "animation";
.homepage {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 100%;
  width: 80%;
  margin: 0 auto;

  &__section {
    flex: 1 0 auto;
  }

  &__image_wrapper {
    align-self: flex-end;
    max-width: 450px;
    z-index: 2;
  }

  &__image {
    align-self: flex-end;
    width: 100%;
    height: auto;

    &.animIn{
      animation: fadeUp $animationSpeed forwards;
    }
    &.animOut {
      animation: fadeDown $animationSpeed forwards;
    }
  }

  &__description {
    align-self: center;
    margin-bottom: 100px;
  }

  &__title {
    color: $whiteText;
    font-size: 3.5rem;
    transition: all 2s ease;
    animation-fill-mode: both;

    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both
    }
  }

  &__subtitle {
    margin-top: 30px;
    font-size: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
    color: $whiteText;
    transform: translate3d(500%, 0, 0);

    &.animIn{
      animation: fadeIn 1.5s ease forwards;
      animation-delay: .4s;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
    }
  }
}

@media (max-width: 992px) {
  .homepage {
    flex-wrap: nowrap;
    width: 80%;

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      margin-top: 20px;
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    flex-wrap: wrap;
    width: 90%;

    &__description {
      margin: 10px;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      margin-top: 10px;
      font-size: 1.3rem;
      line-height: 1.7rem;
      letter-spacing: 0.03rem;
    }

    &__image_wrapper {
      width: 100%;
    }
  }
}