$animation-delay: 0.05s;

.skills {
  flex: 1 0 auto;

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }

  &__title-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    &.animIn{
      animation: fadeDownTop $animationSpeed;
    }
    &.animOut {
      animation: fadeUpTop $animationSpeed;
    }
  }

  &__title {
    align-self: center;
    color: #cacaca;
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: 3px;
    transform: rotate(-90deg);
    opacity: 0.7;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(122, 0, 0, 0.9) 10%, rgba(135, 100, 0, 0.9) 58%, rgba(7, 93, 0, 0.9) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    padding: 0;

    .animIn{
      animation: fadeInSkills 1s forwards;
      animation-fill-mode: both;
    }
    .animOut {
      animation: fadeOutSkills 1s forwards;
      animation-fill-mode: both;
    }
    }

  &__items-wrapper {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  &__level-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
  }


  &__item {
    list-style: none;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 25px 10px;
    animation-fill-mode: forwards;
  }

  &__img {
    border: 3px solid #c3c3c3;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;

    &--html {
      background-image: url("../img/skills/skill1.png");
    }

    &--css {
      background-image: url("../img/skills/skill2.png");
    }

    &--less {
      background-image: url("../img/skills/skill3.png");
    }

    &--sass {
      background-image: url("../img/skills/skill4.png");
    }

    &--javas {
      background-image: url("../img/skills/skill6.png");
    }

    &--jquery {
      background-image: url("../img/skills/skill7.png");
    }

    &--bootstrap {
      background-image: url("../img/skills/skill8.png");
    }

    &--bem {
      background-image: url("../img/skills/skill9.png");
    }

    &--git {
      background-image: url("../img/skills/skill11.png");
    }

    &--gulp {
      background-image: url("../img/skills/skill12.png");
    }

    &--node {
      background-image: url("../img/skills/skill14.png");
    }

    &--express {
      background-image: url("../img/skills/skill10.png");
    }

    &--react {
      background-image: url("../img/skills/skill15.png");
    }

    &--redux {
      background-image: url("../img/skills/skill5.png");
    }

    &--redux-saga {
      background-image: url("../img/skills/skill13.png");
    }

    &--styled-comp {
      background-image: url("../img/skills/skill18.png");
    }

    &--wp {
      background-image: url("../img/skills/skill16.png");
    }

    &--twig {
      background-image: url("../img/skills/skill17.png");
    }

    &--php {
      background-image: url("../img/skills/skill18.png");
    }

    &--mongo {
      background-image: url("../img/skills/skill19.png");
    }

    &--npm {
      background-image: url("../img/skills/skill20.png");
    }
    
    &--webpack {
      background-image: url("../img/skills/skill21.png");
    }
  }
}

@for $i from 1 to 9 {
  .skills__level-list--high .skills__item:nth-child(#{$i}) { animation-delay: $i * $animation-delay; }
}

@for $i from 1 to 9 {
  .skills__level-list--medium .skills__item:nth-child(#{$i}) { animation-delay: $i * $animation-delay; }
}

@for $i from 1 to 5 {
  .skills__level-list--low .skills__item:nth-child(#{$i}) { animation-delay: $i * $animation-delay; }
}

@for $i from 1 to 4 {
  .skills__level-list--basic .skills__item:nth-child(#{$i}) { animation-delay: $i * $animation-delay; }
}


@keyframes fadeIn {
  from{transform: translate3d(1300%, 0, 0)}
  to{transform: none}
}

@keyframes fadeOut {
  from{transform: none}
  to{transform: translate3d(-1300%, 0, 0)}
}


@media (max-width: 992px) {
  .skills {
    &__title {
      font-size: 7rem;
    }

    &__item {
      width: 60px;
      height: 60px;
    }
  }

}
@media (max-width: 767px) {
  .skills {
    &__wrap {
      width: 90%;
    }
    &__title {
      font-size: 4rem;
    }

    &__item {
      width: 50px;
      height: 50px;
      margin: 10px 5px;
    }
  }
}