.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 30px auto;
  width: 80%;

  &__about_this_site {
    width: 50%;
    align-self: flex-start;
    margin-left: 5%;
    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both;
    }
  }

  &__about_title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: $whiteText;
    letter-spacing: 1px;
  }

  &__about_text {
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: $whiteText;
    letter-spacing: 1px;
  }

  &__my_works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    height: 150px;
    margin: 30px;
    overflow: hidden;
    transition: all .5s ease;

    &:hover {
      width: 27%;
      height: 220px;
    }

    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both;
    }
  }

  &__link {
    cursor: pointer}
  &__img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .works {
    &__about_this_site {
      width: 60%;
    }
    &__item {
      width: 220px;
      height: 130px;
      margin: 30px;

      &:hover {
        width: 240px;
        height: 150px;
      }
    }
  }
}

@media (max-width: 768px) {
  .works {
    margin: 30px auto;
    &__about_this_site {
      width: 100%;
    }

    &__about_title {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    &__about_text {
      margin-bottom: 20px;
      font-size: 1rem;
      line-height: 1.1rem;
    }

    &__item {
      width: 130px;
      height: 80px;
      margin: 10px;

      &:hover {
        width: 150px;
        height: 100px;
      }
    }
  }
}