.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 30px auto;
  width: 80%;

  &__my_works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 40%;
    height: 250px;
    margin: 30px;
    overflow: hidden;
    transition: all .5s ease;

    &:hover {
      width: 42%;
      height: 280px;
    }

    &.animIn{
      animation: fadeIn $animationSpeed;
      animation-fill-mode: both;
    }
    &.animOut {
      animation: fadeOut $animationSpeed;
      animation-fill-mode: both;
    }
  }

  &__link {
    cursor: pointer}
  &__img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .works {
    &__about_this_site {
      width: 60%;
    }
    &__item {
      width: 220px;
      height: 130px;
      margin: 30px;

      &:hover {
        width: 240px;
        height: 150px;
      }
    }
  }
}

@media (max-width: 768px) {
  .works {
    margin: 30px auto;

    &__item {
      width: 130px;
      height: 80px;
      margin: 10px;

      &:hover {
        width: 150px;
        height: 100px;
      }
    }
  }
}