doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title WeLoveWhatWeDo
        link(rel="icon", type="image/png", href="src/images/favicon.png")
        link(href='dist/lib/bootstrap.min.css', rel='stylesheet')
        link(href='src/css/style.css', rel='stylesheet')
        script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
        script(src='src/js/js.js')

body
    .loader_box
        .loader
            .double-bounce1
            .double-bounce2
    .scrollup
        svg.scrollup__arrow(width='40px', height='50px', viewbox='0 0 40 80', xml:space='preserve')
            polyline(fill='none', stroke='#000', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', points='\ 0,20 20,0 40,20 ')
            polyline(fill='none', stroke='#000', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', points='\ 20,0 20,55 ')
        a.scrollup__link(href='#') Up
    .page3
        .gradient2.section
            .container
                a.logo(href='index.html')
                    svg(width='65', height='65')
                        rect.logo_rect(x='5', y='5', width='55', height='55', fill='transparent', stroke='#000', stroke-width='2')
                        line.logo_line(x1='60', y1='5', x2='5', y2='60', stroke='#000', stroke-width='2')
                nav.menu
                    ul.menu__list.list
                        li.list__item
                            a.list__link(href='work.html') work
                        li.list__item.active
                            a.list__link(href='about_us.html') about
                        li.list__item
                            a.list__link(href='contact.html') contact
                nav.mobile
                    button.menu_button Toggle
                        .icon
                    .mobile_menu
                        ul.mobile__list
                            li.list__item
                                a.list__link(href='index.html') home
                            li.list__item
                                a.list__link(href='work.html') work
                            li.list__item
                                a.list__link(href='contact.html') contact

                .page3__main
                    .textblock
                        h1.page3_text.text.mov.animation
                            span.greentext.animation Noname
                            | is a graphic design and art direction studio based in
                            span.greentext.animation  New York, USA.
                            | The studio practices
                            span.greentext.animation  contemporary visual communication,
                            br
                            | informed by the past - inspired by the future.
                        .greenline
                            span(class="outline outline_green mov animation")


                    .weare
                        .textarea.text.mov.animation
                            p.text With a reputation for being experianced, reliable, methodical, and passionate, we have been trusted by some of the largest names in the business for over 8 years. Creativity is a core tenet of our work, and as such we offer a full digital service and can supply development to projects in need of quality programming.
                            .view
                                a View Casestudies
                        .imagediv
                            .imgdiv
                                img.image.mov.animation(src='src/images/img1096.jpg')
                                span(class="outline outline_top mov animation")
                                span(class="outline outline_right mov animation")
                                span(class="outline outline_bottom mov animation")
                                span(class="outline outline_left mov animation")
                            .border
                                span(class="outline--black outline_top--black mov animation")
                                span(class="outline--black outline_right--black mov animation")
                                span(class="outline--black outline_bottom--black mov animation")
                                span(class="outline--black outline_left--black mov animation")
                    h3.friends_text
                        span.friends.friends--first.mov.animation Our
                        =' '
                        span.friends.friends--second.greencorrection.mov.animation Clients
                        =' '
                        span.friends.friends--third.mov.animation Friends
          .ugol
              svg(width="100%" height="25")
                polygon(points="0,0 0,0 25,20 50,0 50,25 0,25" style="fill:white;")
              .left
              .right
    .container.section
        img.friends_img.mov.text(src='src/images/friends.jpg' width='80%')
    ul.wedo.section
        h1.wedo__text.text.mov What We Do
        li.wedo__item.text.mov
            .sprite.sprite__webdesign
            h4.item__main Webdesign
            p.item__text We will always develop and design based on the most prevalent device the information will be viewed on. Wo do not see different devices as a complication but as an opportunity to explore and push our skillsets in environments of increased restrictions.
        li.wedo__item.text.mov
            .sprite.sprite__motion
            h4.item__main Motin Graphic
            p.item__text We love to experiment in merging the connection bertween man and machine. Exploring new connections between the physical and digital world and the possibilities of human interaction is a passion of ours.
        li.wedo__item.text.mov
            .sprite.sprite__branding
            h4.item__main Branding Identity
            p.item__text We love branding. Recognition, consistency and differentiation are our goals for for a good brand identity. We work with you to find out your values and help steer you towards a mark that will help you move onwards and upwards.
        li.wedo__item.text.mov
            .sprite.sprite__illustrat
            h4.item__main Illustration
            p.item__text By using the knowledge, experience and tools already created by the net-community, we are able to create greater projects and progress in our digital world. In turn we also exchange and contrubute what we learn along the way.
    button(class='showall' onClick='location.href="work.html"')
            b Our projects
            a.projects(href='work.html')
            span(class="outline outline_top mov")
            span(class="outline outline_right mov")
            span(class="outline outline_bottom mov")
            span(class="outline outline_left mov")
    .section
        ul.aboutus.aboutus__list.list
            h1.aboutus__text.text.mov Who We Are
            li.list__item
                .imagediv
                    .imgdiv
                        img.image.mov(src='src/images/img1094.jpg')
                        span(class="outline outline_top mov")
                        span(class="outline outline_right mov")
                        span(class="outline outline_bottom mov")
                        span(class="outline outline_left mov")
                    .border-right
                        span(class="outline--black outline_top--black mov")
                        span(class="outline--black outline_right--black mov")
                        span(class="outline--black outline_bottom--black mov")
                        span(class="outline--black outline_left--black mov")
                h4.name.text.mov Oleg Axenov
                p.about.text.mov Web and graphic designer, explorer, biker, kitesurfer, wake and snow-boarder currently based in Kiev, Ukraine. He has worked for the Rolling Stones, The Talking Hands, Lou Reed, and The Guggenheim Museum, among many others.
            li.list__item
                .imagediv
                    .imgdiv
                        img.image.mov(src='src/images/Alex.jpg')
                        span(class="outline outline_top mov")
                        span(class="outline outline_right mov")
                        span(class="outline outline_bottom mov")
                        span(class="outline outline_left mov")
                    .border-left
                        span(class="outline--black outline_top--black mov")
                        span(class="outline--black outline_right--black mov")
                        span(class="outline--black outline_bottom--black mov")
                        span(class="outline--black outline_left--black mov")
                h4.name.text.mov Alex Tkalenko
                p.about.text.mov Designer and ert director living in NYC working for clients such as Jay-Z, Barneys, The New York Times, Levi`s, and The Muaeum of Modern Art, among many others. Her work has won most major design awards and has been featured in numerous books, galleries, museums and magazines wordwide.
    .page3_footer.section
        .gradient
            button(class='showall' onClick='location.href="contact.html"')
                b Become a friends
                span(class="outline outline_top mov")
                span(class="outline outline_right mov")
                span(class="outline outline_bottom mov")
                span(class="outline outline_left mov")
            .text_footer.mov
                h3.text We love what we do, we do what we like
                .shaka.mov
                    .shaka_hend.mov
